@model CLMS.Model.TelbookModel

@{
    ViewBag.Title = ViewDatas.GetInstance().GetSysName() + " | 电话管理";
    ViewBag.MainTitle = "系统设置";
    ViewBag.SecondTitle = "电话管理";
    ViewBag.Menu1 = "menuSys";
    ViewBag.Menu2 = "menuSysUser";
}
@section CSSs{
    <link href="/plugins/kindeditor/default/default.css" rel="stylesheet" />
    <link href="/plugins/bootstrap-submenu/css/bootstrap-submenu.css" rel="stylesheet" />
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">电话信息管理-添加</h3>
        <div class="box-tools">
            <a type="button" class="btn btn-default pull-right" href="javascript:history.go(-1)">返回</a>
        </div>
    </div>
    <form id="addForm" role="form">
        <div class="box-body">
            <div id="alertDiv">

            </div>
            <div class="row">
                <div class="form-group  col-md-6">
                    <label for="Username">
                        人员姓名*
                    </label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control required", @placeholder = "人员姓名" })
                </div>
                <div class="form-group  col-md-6">
                    <label for="Username">
                        人员电话*
                    </label>
                    @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control required", @placeholder = "人员电话" })
                </div>
            </div>
            <div class="box-footer">
                <a type="button" class="btn btn-default pull-right" href="javascript:Close();">取消</a>                
                <button type="button" style="margin-right: 10px" onclick="SubmitForm();" class="btn btn-primary pull-right">
                    提交
                </button>
            </div>
        </div>
    </form>
</div>
@section javascripts{

        <script src="/plugins/validate/jquery.validate.min.js"></script>
        <script src="/plugins/validate/messages_zh.min.js"></script>
        <script src="/plugins/plupload/plupload.full.min.js"></script>
        <script src="/plugins/kindeditor/kindeditor-all.js"></script>
        <script src="/plugins/bootstrap-submenu/js/bootstrap-submenu.js"></script>

        <script>            
            StartValidate('addForm');            

            function SubmitForm() {

                if ($('#addForm').valid()) {
                    $('#alertDiv').empty();

                    console.log($('#addForm').serialize());

                    $.ajax({
                        type: 'POST',
                        url: "/Telbook/Add",
                        data: $('#addForm').serialize(),
                        dataType: 'json',
                        success: function (data) {
                            if (data.State == true) {
                                layer.confirm('添加成功！继续添加？', {
                                    btn: ['继续', '退出'] //按钮
                                }, function () {
                                    location.href = '/Telbook/Add';
                                }, function () {
                                    Close();
                                });
                            }
                            else {
                                var alertDiv = GetAlertDiv(data.Message, 'alert-danger animated slideInUp');
                                $('#alertDiv').append(alertDiv);

                            }
                        },
                        error: function () {
                            var alertDiv = GetAlertDiv('网络错误，请重试！', 'alert-danger animated slideInUp');
                            $('#alertDiv').append(alertDiv);
                        }
                    });
                }
            }

            function Close() {
                location.href = '/Telbook/Index';
            }

           
        </script>
}
