
@{
    ViewBag.Title = ViewDatas.GetInstance().GetSysName() + " | 线路管理";
    ViewBag.MainTitle = "通讯线路管理";
    ViewBag.SecondTitle = "线路管理";
    ViewBag.Menu1 = "menuLine";
    ViewBag.Menu2 = "menuLineInfo";
}
@section CSSs{
    <link href="~/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link href="/plugins/bootstrap-submenu/css/bootstrap-submenu.css" rel="stylesheet" />
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">线路列表</h3>
        <div class="box-tools">
        </div>
    </div>
    <div class="box-body">

        <div id="tb" class="form-inline">
            <form id="search">
                @*@Html.DropDownList("OrganizationId",ViewDatas.GetInstance().GetOrganizationList(),"选择组织机构",new { @Id= "OrganizationId", @class = "form-control", @name = "OrganizationId"})*@
                @*<div class="input-group ">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default
                        dropdown-toggle" data-toggle="dropdown" data-submenu="">
                            选择部门
                            <span class="caret"></span>
                        </button>
                        @ViewDatas.GetInstance().GetOrganSubMeun("OnSelect", new Dictionary<string, string>() { { "style", "overflow:visible" } })
                    </div><!-- /btn-group -->
                    <input type="text" id="txtOrganName" readonly="readonly"  class="form-control required" />
                    <input type="hidden" id="hideOrganId" name="OrganizationId"  />
                </div><!-- /input-group -->*@
                <div class="form-group">
                    <input type="text" class="form-control" name="organizationName" placeholder="部门名称" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="Name" placeholder="线路名称" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="LineIP" placeholder="线路IP" />
                </div>

                <a class="btn btn-default" href="javascript:Search()"> 搜索</a>
                @*<a class="btn btn-default" href="/Line/Add">添加</a>
                <a class="btn btn-default" href="javascript:Del()">删除</a>*@

            </form>
        </div>

        <table id="table" class="table-condensed" data-toggle="table" data-maintain-selected="true"
               data-click-to-select="true" data-toolbar="#tb" data-mobile-responsive="true" data-query-params="Setparams"
               data-side-pagination="server" data-method="post" data-url="/Line/Search"
               data-id-field="id" data-height="650"
               data-pagination="true" data-page-size="25" data-page-list="[25,50,100,200]">
            <thead>
                <tr class="active">
                    <th data-field="" data-checkbox="true">
                    </th>
                    <th data-field="Name">
                        线路名称
                    </th>
                    <th data-field="LineIP">
                        线路IP
                    </th>
                    <th data-field="Description">
                        线路描述
                    </th>
                    <th data-field="LineType">
                        线路类型
                    </th>
                    <th data-field="ServiceProvider">
                        线路运营商
                    </th>
                    <th data-field="OrganizationName">
                        所属机构
                    </th>
                    <th data-field="ParentOrganizationName">
                        上级机构
                    </th>
                    <th data-field="ConnectState" data-formatter="stateFormatter">
                        实时连通状态
                    </th>
                    <th data-formatter="operatorFormatter" data-align="center">
                        操作
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- /.box-body -->
</div>
@section javascripts{

    <script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/plugins/select2/js/select2.js"></script>
    <script src="/plugins/bootstrap-submenu/js/bootstrap-submenu.js"></script>
    <script>

        function Search() {
            selectTable();
        }
        $('[data-submenu]').submenupicker();
        function OnSelect(id, name) {
            $('#txtOrganName').val(name);
            $('#hideOrganId').val(id);
        }

        function operatorFormatter(value, row) {
            if (row.State == "1") {
                return "<a type=\"button\" title=\"编辑\" class=\"glyphicon glyphicon-pencil\" href=\"/Line/Edit/" + row.Id + "\"></a>  ";
            } else {
                return "<a type=\"button\" title=\"编辑\" class=\"glyphicon glyphicon-pencil\" href=\"/Line/Edit/" + row.Id + "\"></a> ";
            }
        }

        function stateFormatter(value, row) {
            if (row.ConnectState == '连通') {
                //连通
                return '<span class="text-green">' + value + '</span>';
            } else {
                return '<span class="text-gray">' + value + '</span>';
            }
        }

        function selectTable() {
            $('#table').bootstrapTable('refresh', {
                query: $('#search').serializeJson()
            });
        }

        function Setparams(params) {
            var a = { limit: params.limit, offset: params.offset };
            var b = $('#search').serializeJson();
            var c = $.extend(a, b);
            return c;
        }

        function Del() {
            var selected = $('#table').bootstrapTable('getSelections');
            var idArray = new Array();
            $(selected).each(
            function () {
                idArray.push(this.Id);
            });

            layer.confirm('确认删除选中的' + selected.length + '条项目？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: 'POST',
                    url: "/Line/Del",
                    data: { ids: idArray },
                    dataType: 'json',
                    success: function (data) {
                        if (data.State == true) {
                            layer.msg("删除成功");
                            selectTable();
                        }
                        else {
                            layer.msg(data.Message);
                        }
                    },
                    error: function () {
                        layer.msg('网络错误，请重试！');
                    }
                });
            }, function () {
            });
        }

    </script>
}




